<!DOCTYPE html>
<html>
  <head>
    <title><%= category.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= category.name %></h1>
    <ul>
      <% list.forEach(listItem => { %>
        <li>
          <a href="<%= listItem.url %>"><%= listItem.name %></a>
        </li>
      <% }) %>
    </ul>
    <hr>
    <a href="<%= category.url %>/addItem">Add new item</a>
    <hr>
    <a href="<%= category.url %>/editCategory">edit this category</a>
    <a href="<%= category.url %>/deleteCategory">remove this category</a>
  </body>
</html>
