<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
        <label for="item_name">Enter item name</label>
        <input type="text" name="item_name" id="item_name" value="<%= typeof item === 'undefined' ? '' : item.name %>">
        <label for="item_quantity">Enter quantity available</label>
        <input type="number" name="item_quantity" id="item_quantity" value="<%= typeof item === 'undefined' ? '' : item.quantity %>">
        <label for="item_unit">Enter item unit name</label>
        <input type="text" name="item_unit" id="item_unit" value="<%= typeof item === 'undefined' ? '' : item.unit%>">
        <input type="hidden" name="category_id" value="<%= category_id %>">
        <input type="submit" value="Submit">
    </form>
  </body>
</html>